In [3]:
import pandas as pd

In [4]:
# infile = '../data/full_singlerank_05_12_2020/slope_complex.csv'
infile = '../data/all_then_1997_06_08_2020_v2/slope_complex.csv'

In [5]:
kwd_ts_df = pd.read_csv(infile)

In [6]:
sc = kwd_ts_df.loc[:, ['stem', 'count']]

In [7]:
viz_data_loc = '../reports/viz/full_singlerank_05_12_2020/'

In [12]:
sc.sort_values('count', ascending=False)[10:20]

                 stem  count
1539   globular clust  22009
3798     solar system  21846
2741      white dwarf  20871
2575  gamma-ray burst  19592
1597     massive star  19546
2349  molecular cloud  18960
3024   space telescop  18801
2142   accretion disk  18786
3831       m telescop  18684
2923        field lin  17178