In [1]:
import pandas as pd

In [2]:
infile = '../data/full_singlerank_05_12_2020/slope_complex.csv'

In [3]:
kwd_ts_df = pd.read_csv(infile)

In [10]:
sc = kwd_ts_df.loc[:, ['stem', 'count']]

In [ ]:
viz_data_loc = '../reports/viz/full_singlerank_05_12_2020/'

In [11]:
sc

                              stem  count
0            dimensional black hol    497
1                 black hole solut    882
2     ultra high energy cosmic ray    357
3               black hole entropi    541
4           black hole thermodynam    302
...                            ...    ...
4075                  angular dist    468
4076                    small vari    564
4077                  rapid growth    316
4078                   space weath   3370
4079                 temporal vari   3722

[4080 rows x 2 columns]