In [120]:
import h5py
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv('../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.csv', index_col=0)

In [122]:
outloc = '../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.hdf5'

In [123]:
vals = df.iloc[:, 1:]
tmaxes = vals.values.argmax(axis=1)
dt = h5py.string_dtype()

with h5py.File(outloc, 'w') as f0:
    bib_dset = f0.create_dataset("bibcodes", (df.shape[0],), dtype=dt)
    bib_dset[:] = df['bibcode']
    val_dset = f0.create_dataset("topic_distribution", (vals.shape[0], vals.shape[1]), dtype=np.float64)
    val_dset[:] = vals
    tmax_dset = f0.create_dataset("topic_maxes", (tmaxes.shape[0], ), dtype=np.int)
    tmax_dset[:] = tmaxes

In [128]:
tmaxes

array([  1,   1,   1, ..., 349, 349, 349])

In [124]:
t = 274
with h5py.File(outloc, 'r') as f0:
    b = f0['bibcodes'][3]
    mask = f0['topic_maxes'][:] == t
    v = f0['topic_distribution'][mask, :]
    b = f0['bibcodes'][mask]

tmp_df = pd.DataFrame(v)
tmp_df.index = b
tmps = tmp_df.iloc[:, t]

In [127]:
!mv ../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.h5py ../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.hdf5

In [125]:
df = tmps.reset_index()
df.columns = ['bibcode', 'score']

In [126]:
df

                  bibcode     score
0     2008ApJ...683L.191J  0.370185
1     1990ESASP.315..219M  0.296975
2     2007ApJ...654L.155P  0.391805
3     2007atnf.prop..973M  0.360237
4     2009AAS...21335805E  0.248280
...                   ...       ...
2187  2000eso..pres...10.  0.088743
2188  1999eso..pres....4.  0.108504
2189  1997eso..pres....7.  0.063904
2190  2002eso..pres....9.  0.060023
2191  1999eso..pres....3.  0.034591

[2192 rows x 2 columns]

In [108]:
!du -sh tmp.hdf5

2.1G	tmp.hdf5

In [107]:
!du -sh ../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.csv

3.4G	../reports/viz/full_singlerank_05_12_2020/topic_distribs_to_bibcodes350.csv